@import './reset.styl'
@import './layout.styl'

#inputboxWrapper
  background-color #000000
  height 15.6rem
  background-image linear-gradient(rgb(39, 53, 66), rgb(27, 36, 45))
  box-sizing border-box
  padding-top 2.987rem
  disflex()
  align-items center

  .container-input
    disflex(row, false, space-between)
    height 2.7rem
    width 86%

    span
      display block
      text-align center
      line-height 2.7rem
      font-size 1.068rem
      color #dee5eb
      height 100%
      flex 1
      border 1px solid rgb(175, 175, 175)
      border-right 0
      box-sizing border-box

    span:first-child
      border-radius 6px 0 0 6px

    span:last-child
      border-radius 0px 6px 6px 0px
      border-right 1px solid rgb(175, 175, 175)

  .container-save-button
    width 90%
    height 2.56rem
    margin-top 2.56rem

    .btnbind
      display block
      width 100%
      height 100%
      text-align center
      line-height 2.56rem
      border-radius 6px
      background-color #f0e6ac
      color #5c5426
      font-size 0.91rem

      &.active
        background-color rgb(246, 207, 7)

  .container-switch-button
    margin-top 1.92rem

    span
      font-size 0.747rem
      color #ECE09B

#keyboardWrapper
  stackyfooters()
  background-color #e0e0e0
  height 242px

  .keyboard-row
    width 100vw
    disflex(row, false, center)
    margin-bottom 0.32rem /* 6/18.75 */

    &:first-child
      justify-content flex-end
      background-color #fff
      margin-top 0.053333rem /* 1/18.75 */

      span.keyboard-item
        margin-right 15px
        color #f6cf07
        font-size 17px
        line-height 33px

    &:not(:first-child)
      .keyboard-item
        height 2.133333rem /* 40/18.75 */
        border-radius 5px
        color #2e2e2e
        font-size 0.853333rem /* 16/18.75 */
        background-color #fff
        flex 1
        margin-right 0.213333rem /* 4/18.75 */
        display flex
        justify-content center
        align-items center

        &:first-child
          margin-left 0.213333rem /* 4/18.75 */

        &.keyboard-placeholder
          background-color transparent

        &.disable
          background-color rgb(208, 208, 208)
